@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0d1129;
    color: white;
    font-family: 'DM Sans', sans-serif;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(90deg, #a78bfa, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}